extend Layout
block content
    form(name="ContactUs", type="submit", action="/createNewMessage", method="post")
      h2 Contact Us
      div
        label.labels Full Name
        input#FullName(type="text", class="input_field", name="FullName", placeholder="Your name" ,required)
      div
        label.labels Email
        input#Email(type="email", class="input_field", name="Email", placeholder="Your Email" ,required)
      div
      div
        label.labels Phone
        input#Phone(type="tel", class="input_field", name="Phone", placeholder="Phone" ,required)
      div
        label.labels Subject
        textarea#subject(class="input_field", name="subject", placeholder="Hey ! Please write in this message the ticket you want to purchase from the list and we will make sure that the seller gets back to you for the purchase", style="height:200px" ,required)
      div
        input.Buttons(type="submit", value="Submit")
              

    