extend Layout
block content
    #greeting
    section
      h1 Our app will help you buy or sell tickets securely and quickly
      p
        | The &quot;Ticket Space&quot; company was established to help different audiences
        br
        | findsecond-hand tickets for concerts,events, stand-up shows
        br
        | and a wide variety of other events that offer tickets.
      a(href="SearchTicket")  Search Tickets 