<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Ticket Space</title>
		<link rel='stylesheet' href='../static/style.css'>
		<link rel="icon" href="../images/icon.jpg">
		<script defer src="../static/JS.js"></script>
		<script defer src="../static/General.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body class="body">
		<header>
			<h1 >Ticket Space</h1>
		</header>
		<nav id="navbar">
			<ul>
				<li>
					<a href="HomePage.html"><i class="fa fa-fw fa-home"></i>Home</a>
				</li>
				<li><a href="OurCompany.html">Our Company</a></li>
				<li><a href="OurShows.html"  >Our Shows</a></li>
				<li>
					<a href="SearchTicket.html"><i class="fa fa-fw fa-search"></i>Search Tickets</a>
				</li>
				<li><a href="SellTickets.html">Sell Tickets</a></li>
				<li><a href="Favorites.html">My Favorites</a></li>
				<li>
					<a href="SignIn.html" class="SignButtons"><i class="fa fa-fw fa-user"></i>Sign In</a>
				</li>
				<li><a href="SignUp.html" class="SignButtons">Sign Up</a></li>
			</ul>
		</nav>
		<div id="myBtnContainer">
			<h1 id="myBtnH1">Choose Category</h1>
			<div>
				<button class="Buttons" onclick="filterSelection('all')"> Show all</button>
				<button class="Buttons" onclick="filterSelection('israeli')"> Israeli</button>
				<button class="Buttons" onclick="filterSelection('bands')"> Bands</button>
				<button class="Buttons" onclick="filterSelection('Pop')"> Pop</button>
				<button class="Buttons" onclick="filterSelection('standUp')">Stand Up</button>
				<button class="Buttons" onclick="filterSelection('Show')">Show</button>
			</div>
		</div>
		<!-- Portfolio Gallery Grid -->
		<div class="row">
			<div class="column bands">
				<div class="content">
					<img src="../images/mashina.PNG" alt="mashina" style="width:100%">
					<h4>Mashina</h4>
				</div>
			</div>
			<div class="column bands">
				<div class="content">
					<img src="../images/poliker.PNG" alt="poliker" style="width:100%">
					<h4>Yehuda Poliker</h4>
				</div>
			</div>
			<div class="column bands">
				<div class="content">
					<img src="../images/mercedes.PNG" alt="mercedes" style="width:100%">
					<h4>Mercedes Band</h4>
				</div>
			</div>
			<div class="column bands">
				<div class="content">
					<img src="../images/artzi.PNG" alt="sholomartzi" style="width:100%">
					<h4>Shlomo Artzi</h4>
				</div>
			</div>
			<div class="column israeli">
				<div class="content">
					<img src="../images/mosh.PNG" alt="mosh" style="width:100%">
					<h4>Mosh Ben Ari</h4>
				</div>
			</div>
			<div class="column israeli">
				<div class="content">
					<img src="../images/amird.PNG" alt="amird" style="width:100%">
					<h4>Amir Dadon</h4>
				</div>
			</div>
			<div class="column israeli">
				<div class="content">
					<img src="../images/shlomi.png" alt="shlomis" style="width:100%">
					<h4>Shlomi Shaban</h4>
				</div>
			</div>
			<div class="column israeli">
				<div class="content">
					<img src="../images/rai.png" alt="rami" style="width:100%">
					<h4>Rami Kleinshtain</h4>
				</div>
			</div>
			<div class="column israeli">
				<div class="content">
					<img src="../images/keren.PNG" alt="keren" style="width:100%">
					<h4>Keren Peles</h4>
				</div>
			</div>
			<div class="column Pop">
				<div class="content">
					<img src="../images/ravid.PNG" alt="ravid" style="width:100%">
					<h4>Ravid Plotnik</h4>
				</div>
			</div>
			<div class="column israeli">
				<div class="content">
					<img src="../images/reaviv.png" alt="raviv" style="width:100%">
					<h4>Raviv Kaner</h4>
				</div>
			</div>
			<div class="column israeli">
				<div class="content">
					<img src="../images/shabat.png" alt="slomishabat" style="width:100%">
					<h4>Shlomi Shabat</h4>
				</div>
			</div>
			<div class="column Pop">
				<div class="content">
					<img src="../images/tamir.PNG" alt="Tamir" style="width:100%">
					<h4>Tamir Greenberg</h4>
				</div>
			</div>
			<div class="column Pop">
				<div class="content">
					<img src="../images/tuns.PNG" alt="tuna" style="width:100%">
					<h4>Tuna</h4>
				</div>
			</div>
			<div class="column Pop">
				<div class="content">
					<img src="../images/bar.png" alt="bar" style="width:100%">
					<h4>Bar Tzabari</h4>
				</div>
			</div>
			<div class="column Show">
				<div class="content">
					<img src="../images/eguzim.png" alt="hanuca" style="width:100%">
					<h4>Hanuca Show</h4>
				</div>
			</div>
			<div class="column Show">
				<div class="content">
					<img src="../images/hanuca.png" alt="vento" style="width:100%">
					<h4>Vento</h4>
				</div>
			</div>
			<div class="column Show">
				<div class="content">
					<img src="../images/kanar.png" alt="kanar" style="width:100%">
					<h4>Kanar</h4>
				</div>
			</div>
			<div class="column Show">
				<div class="content">
					<img src="../images/hadar.png" alt="hadar" style="width:100%">
					<h4>Hadar Marks</h4>
				</div>
			</div>
			<div class="column standUp">
				<div class="content">
					<img src="../images/ori.png" alt="ori" style="width:100%">
					<h4>Ori Hizkia</h4>
				</div>
			</div>
			<div class="column standUp">
				<div class="content">
					<img src="../images/koriat.png" alt="koriat" style="width:100%">
					<h4>Shlomi Koriat</h4>
				</div>
			</div>
			<div class="column standUp">
				<div class="content">
					<img src="../images/adi.png" alt="adi" style="width:100%">
					<h4>Adi Achkenazi</h4>
				</div>
			</div>
			<div class="column standUp">
				<div class="content">
					<img src="../images/revital.png" alt="revital" style="width:100%">
					<h4>Revital</h4>
				</div>
			</div>
		</div>
			<footer>
				<div class="social">
					<h1>Contact Us</h1>
					<a href=""><img src="../images/face.png" alt="iconfacebook" class="iconsocial"></a>
					<a href=""><img src="../images/whatsup.png" alt="iconwhats" class="iconsocial"></a>
					<a href=""><img src="../images/twitter.png" alt="icontwiteer" class="iconsocial"></a>
					<a href=""><img src="../images/email1.png" alt="iconemail" class="iconsocial"></a>
					<a href=""><img src="../images/instagram.png" alt="iconinsta" class="iconsocial"></a>
				</div>
				<ul class="list-inline">
					<li class="list-inline-item"><a href="HomePage.html">Home</a></li>
					<li class="list-inline-item"><a href="ContactUs.html">Contact Us</a></li>
					<li class="list-inline-item"><a href="#">Terms & Privacy Policy</a></li>
					<input type="text" placeholder="Search.." id="searchBox">
					<i class="fa fa-search"></i>
				</ul>
				<p class="copyright">
					Ticket Space © 2022
				</p>
			</footer>
			<button class="Buttons" onclick="toTop()">Back To Top</button>
		</body>
	</html>
