<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Ticket Space</title>
		<link rel='stylesheet' href='../static/style.css'>
		<link rel="icon" href="../images/icon.jpg">
		<script defer src="../static/JS.js"></script>
		<script defer src="../static/General.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body class="body">
		<header>
			<h1 >Ticket Space</h1>
		</header>
		<nav id="navbar">
			<ul>
				<li>
					<a href="HomePage.html"><i class="fa fa-fw fa-home"></i>Home</a>
				</li>
				<li><a href="OurCompany.html">Our Company</a></li>
				<li><a href="OurShows.html">Our Shows</a></li>
				<li>
					<a href="SearchTicket.html"><i class="fa fa-fw fa-search"></i>Search Tickets</a>
				</li>
				<li><a href="SellTickets.html">Sell Tickets</a></li>
				<li><a href="Favorites.html">My Favorites</a></li>
				<li>
					<a href="SignIn.html" class="SignButtons"><i class="fa fa-fw fa-user"></i>Sign In</a>
				</li>
				<li><a href="SignUp.html" class="SignButtons">Sign Up</a></li>
			</ul>
		</nav>

		<form name="SearchTicket" type="submit" method="post" onsubmit="return SearchValidation()" >
			<h2>Search A Ticket</h2>
			<div>
				<label for="Category" class="labels">Category</label>
				<select name="cities" class="input_field" required>
					<option value="All">All</option>
					<option value="Sports">Sports</option>
					<option value="Concerts">Concerts</option>
					<option value="Theater&Comedy">Theater&Comedy</option>
					<option value="Parties">Parties</option>
					<option value="Shows">Shows</option>
				</select>
			</div>
			<div>
				<label for="location" class="labels" >Location</label>
				<select name="location" class="input_field" required>
					<option value="All">All</option>
					<option value="Center District">Center District</option>
					<option value="South Israel">South Israel</option>
					<option value="North Israel">North Israel</option>
					<option value="Tel-Aviv">Tel-Aviv</option>
					<option value="Jerusalem">Jerusalem</option>
					<option value="Beer-Sheva">Beer-Sheva</option>
					<option value="Haifa">Haifa</option>
				</select>
			</div>
				<div >
					<lable class="labels">
						Date (From)
					</lable>
					<input type="date" class="input_field" id="datefrom" required>
				</div>
				<div >
					<lable class="labels" >
						Date (Until)
					</lable>
					<input type="date" class="input_field" id="dateuntil" required>
				</div>
				<div >
					<lable class="labels">
						Min Price
					</lable>
					<input type="number" class="input_field" id="minPrice" value="100" required>
				</div>
				<div >
					<lable class="labels">
						Max Price
					</lable>
					<input type="number" class="input_field" id="maxPrice" value="300" required>
				</div>

				<input type="submit" value="Search Ticket" class="Buttons" formaction="OurShows.html">
				<button class="Buttons" onclick="AddToFavorites()">Add To Favorites</button>
				<button class="Buttons" onclick="GetLocation()">Get Your Location</button>
		</form>
		<footer>
			<div class="social">
				<h1>Contact Us</h1>
				<a href=""><img src="../images/face.png" alt="iconfacebook" class="iconsocial"></a>
				<a href=""><img src="../images/whatsup.png" alt="iconwhats" class="iconsocial"></a>
				<a href=""><img src="../images/twitter.png" alt="icontwiteer" class="iconsocial"></a>
				<a href=""><img src="../images/email1.png" alt="iconemail" class="iconsocial"></a>
				<a href=""><img src="../images/instagram.png" alt="iconinsta" class="iconsocial"></a>
			</div>
			<ul class="list-inline">
				<li class="list-inline-item"><a href="HomePage.html">Home</a></li>
				<li class="list-inline-item"><a href="ContactUs.html">Contact Us</a></li>
				<li class="list-inline-item"><a href="#">Terms & Privacy Policy</a></li>
				<input type="text" placeholder="Search.." id="searchBox"><i class="fa fa-search"></i>
			</ul>
			<p class="copyright">
				Ticket Space © 2022
			</p>
		</footer>
	</body>
</html>
